{% extends 'blog/base.html' %}
{% load humanize %}
 
 
{% block content %} 

<div class="p-3 mx-5">
    <h3>Posts by <strong>{{username}}</strong></h3>
    <div class="text-muted"><h5>{{username.bio}}</h5></div>
</div>

{% if posts %}
     {% for post in posts %}
    <div class="my-3 mx-5 p-3 bg-white posts-card">
        <a href="{% url 'blog:blog' post.id %}">{{ post.title}}</a>
        <br> posted {{ post.created_at|naturaltime}} 
        <br>
    </div>
    {% endfor %}
{% endif %} 

{% if is_paginated %}
    <nav aria-label="Topics pagination" class="my-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            {% endif %} {% for page_num in paginator.page_range %} {% if page_obj.number == page_num %}
            <li class="page-item active">
                <span class="page-link">
                    {{ page_num }}
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endif %} {% endfor %} {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock %}

