{% extends 'blog/base.html' %}
{% load humanize %} 
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}

<form method="post" novalidate class="bg-white p-5 mx-5 mb-5 post-form">
    {% csrf_token %} {% include 'blog/form.html' %}
    <button type="submit" class="btn bg-white p-2 submit-btn">Post</button>
</form>



{% endblock %}


{% block javascript %}

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE();
    </script>

{% endblock %}